<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    
    
</head>
<body>
    <a href="{% url 'homepage'%}">Home</a>
    <a href="{% url 'fillform'%}">Insert</a>
    <a href="{% url 'fetchdetail'%}">Display</a>
    {% comment %} <a href="{% url 'update'%}">Update</a> {% endcomment %}
    {% comment %} <a href="{% url 'delete'%}">Delete</a> {% endcomment %}
    
<h1> this is a delete fill project</h1>


</body>
</html>